<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :init_path %><br />
  <%= content_tag :span, f.text_field(:init_path), :id => 'init' %>
  <%= link_to_function "Find", remote_function(
        :update => 'init',
        :url => "/services/init/find",
        :method => :post,
        :with => "'file='+ $('service_name').value"
      ) -%>
</p>
<p>
  <%= f.label :config_path %><br />
  <%= content_tag :span, f.text_field(:config_path), :id => 'config' %>
  <%= link_to_function "Find", remote_function(
        :update => 'config',
        :url => "/services/config/find",
        :method => :post,
        :with => "'file='+ $('service_name').value"
      ) -%>
</p>
<p>
  <%= f.label :bin_path %><br />
  <%= content_tag :span, f.text_field(:bin_path), :id => 'bin' %>
  <%= link_to_function "Find", remote_function(
        :update => 'bin',
        :url => "/services/bin/find",
        :method => :post,
        :with => "'file='+ $('service_name').value"
      ) -%>
</p>
<%= f.hidden_field :visibility %>
<%= f.hidden_field :status %>
