<% content_for :col1 do %>
  <%= render :partial => 'menus/service' -%>
<% end %>

<% content_for :col2 do %>

<table>
  <tr>
    <th>Name</th>
    <th>Init path</th>
    <th>Config path</th>
    <th>Bin path</th>
    <th>Action</th>
  </tr>

<% for service in @services %>
  <tr>
    <td><%=h service.name %></td>
    <td><%=h service.init_path %></td>
    <td><%=h service.config_path %></td>
    <td><%=h service.bin_path %></td>
    <td>
      <%= link_to 'Show', service %>
      <%= link_to 'Edit', edit_service_path(service) %>
      <%= link_to 'Destroy', service, :confirm => 'Are you sure?', :method => :delete %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New service', new_service_path %>
<% end %>
