<% content_for :col1 do %>
  <%= render :partial => 'menus/service' -%>
<% end %>

<% content_for :col2 do %>
<p>
  <b>Name:</b>
  <%=h @service.name %>
</p>

<p>
  <b>Init path:</b>
  <%=h @service.init_path %>
</p>

<p>
  <b>Config path:</b>
  <%=h @service.config_path %>
</p>

<p>
  <b>Bin path:</b>
  <%=h @service.bin_path %>
</p>

<p>
  <b>Visibility:</b>
  <%=h @service.visibility %>
</p>

<p>
  <b>Status:</b>
  <%=h @service.status %>
</p>


<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
<% end %>
