- Router::Service::Base.all.sort_by(&:name).each do |service|
  %h3= service.name
  - %w"bin config init".each do |field|
    - if (service.class.name =~ /Simple/ && (%w"config init".include?(field))) || (service.class.name =~ /ConfInit/ && (%w"bin".include?(field)))
      - next
    - else
      .field
        = label_tag :"#{field}_path", _('%{field} path') % {:field => field}
        = text_field_tag "#{service.name}[#{field}_path]", service.send(:"#{field}_path")
        = link_to 'Find', find_router_service_path(field, :file => service.name), |
            :remote => true, :method => :post, 'data-input-id' => "#{service.name}_#{field}_path"

.actions
  = submit_tag _('Update')

:javascript
  $(function($) {
    $("a[data-input-id]").bind("ajax:success", function(event, data, status, xhr) {
      $('#' + this.getAttribute("data-input-id")).replaceWith(data);
    });
  });
