%h1 Listing forward ports

%table
  %tr
    %th Port
    %th Protocol
    %th
    %th
    %th

  - @forward_ports.each do |forward_port|
    %tr
      %td= forward_port.port
      %td= forward_port.protocol
      %td= link_to 'Show', router_forward_port_path(forward_port)
      %td= link_to 'Edit', edit_router_forward_port_path(forward_port)
      %td= link_to 'Destroy', router_forward_port_path(forward_port), :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Forward port', new_router_forward_port_path
