<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :mac_address %><br />
  <%= f.text_field :mac_address %>
</p>
<p>
  <%= f.label :ip_address %><br />
  <%= f.text_field :ip_address %>
</p>
