<% content_for :col1 do %>
  <%= render :partial => 'menus/computer' -%>
<% end %>

<% content_for :col2 do %>
<h1>Editing computer</h1>

<%= form_for(@computer) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => "form", :locals => {:f => f} -%>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @computer %> |
<%= link_to 'Back', computers_path %>
<% end %>
