%h1.page-header Listing torrents

- unless @r_error.present?
  = form_tag torrent_item_path(0), :method => :put, :id => "rform" do
    %table.std
      %thead
        %tr
          %th &nbsp;
          %th Name
          %th Size
          %th Downloaded
          %th Done
          %th Status
          %th Down speed
          %th Up speed
          %th Priority
          %th Time left
          %th Actions
      %tbody#downloading
        = render :partial => 'torrent', :collection => @torrents, :locals => {:hashes => []}
    = render :partial => 'actions'
  #stats
    = render :partial => 'stats'

  #bandwidth_form{:style => "display: none;"}
    = form_tag :url => set_rate_torrent_items_path, :success => "$('bandwidth_form').hide();", :remote => true do
      Down: #{text_field_tag "bandwidth[down]", RTorrent::Client.download_rate.to_kb, :size => 3}    Up: #{text_field_tag "bandwidth[up]", RTorrent::Client.upload_rate.to_kb, :size => 3}    #{submit_tag "Update"}
  %br/

  = link_to 'New torrent', new_torrent_item_path

- else
  = @r_error
