%h1.page-header New torrent

= simple_form_for(:torrent, url: torrent_items_path, html: {multipart: true}) do |f|
  = f.input :torrents, as: :file, label: 'Torrent file'
  = f.input :torrent_url
  = f.actions do |f|
    = f.action "Cancel", torrent_items_path
    = f.submit "Create"
