%hr/
= link_to('Router', router_main_path)
%hr/
= link_to('Tc Classids', router_tc_classids_path)
%hr/
= link_to('Services', router_services_path)
%hr/
= link_to('Server DHCP', router_dhcps_path)
%hr/
= link_to('Open ports', router_open_ports_path)
%hr/
= link_to('Forward ports', router_forward_ports_path)
%hr/
