-if @router_main.errors.any?
  #error_explanation
    %h2= "#{pluralize(@router_main.errors.count, "error")} prohibited these settings from being saved:"
    %ul
      - @router_main.errors.full_messages.each do |msg|
        %li= msg

%h3= _('Internet settings')
.field
  = f.label :ext_inf, _('Interface')
  = f.select :ext_inf, interfaces
.field
  = f.label :ext_config, _('Configuration IPv4')
  = f.select :ext_config, ip_configs
.field
  = f.label :ext_ip, _('IP')
  = f.text_field :ext_ip
.field
  = f.label :ext_mask, _('Mask')
  = f.text_field :ext_mask
.field
  = f.label :ext_mask, _('Gateway')
  = f.text_field :ext_gateway

%h3= _('DNS servers')
.field
  = f.label :dns_server1, _('First DNS Server')
  = f.text_field :dns_server1
.field
  = f.label :dns_server2, _('Second DNS Server')
  = f.text_field :dns_server2

%h3= _('LAN settings')
.field
  = f.label :int_inf, _('Interface')
  = f.select :int_inf, interfaces
.field
  = f.label :int_config, _('Configuration IPv4')
  = f.select :int_config, ip_configs
.field
  = f.label :int_ip, _('IP')
  = f.text_field :int_ip
.field
  = f.label :int_mask, _('Mask')
  = f.text_field :int_mask
.field
  = f.label :int_mask, _('Gateway')
  = f.text_field :int_gateway

.actions
  = f.submit 'Update'
