-if @router_main.errors.any?
  #error_explanation
    %h2= "#{pluralize(@router_main.errors.count, "error")} prohibited these settings from being saved:"
    %ul
      - @router_main.errors.full_messages.each do |msg|
        %li= msg

%h3= _('Internet settings')
= render 'interface', :net_type => 'ext', :f => f

%h3= _('DNS servers')
.field
  = f.label :dns_server1, _('First DNS Server')
  = f.text_field :dns_server1
.field
  = f.label :dns_server2, _('Second DNS Server')
  = f.text_field :dns_server2

%h3= _('LAN settings')
= render 'interface', :net_type => 'int', :f => f

.actions
  = f.submit 'Update'

:javascript
  $(function() {
    $("select[data-ip-config]").change(function() {
      id = '#' + this.getAttribute("data-ip-config"); 
      if(this.value == 'auto') {
        $(id).hide();
      } else {
        $(id).show();
      }
    });
  });
