%legend= _('Internet settings')
= f.input :name, label: _('Domain name')
= render 'interface', :net_type => 'ext', :f => f

%legend= _('DNS servers')
= f.input :dns_server1, label: _('First DNS Server')
= f.input :dns_server2, label: _('Second DNS Server')

%legend= _('LAN settings')
= render 'interface', :net_type => 'int', :f => f

= f.actions do |f|
  = f.submit 'Update'

/ TODO: move to js file
:javascript
  $(function() {
    $("select[data-ip-config]").change(function() {
      id = '#' + this.getAttribute("data-ip-config"); 
      if(this.value == 'auto') {
        $(id).hide();
      } else {
        $(id).show();
      }
    });
  });
