- interface = @router_main.interfaces.find_by_net_type(net_type) || Router::Interface.new
= f.fields_for "interfaces_attributes[]", interface do |inf|
  = inf.input :name, label: _('Interface'), collection: interfaces
  = inf.hidden_field :net_type, :value => net_type
  = inf.input :config, label: _('Configuration IPv4'), collection: ip_configs, input_html: {'data-ip-config' => net_type}

  %div{:id => net_type, :style => interface.config == 'auto' ? "display: none;" : ''}
    = inf.input :ip_address, label: _('IP')
    = inf.input :ip_mask, label: _('Mask')
    = inf.input :ip_gateway, label: _('Gateway')
