%h1.page-header Listing open ports

%table
  %tr
    %th Port
    %th Protocol
    %th= _('Action')

  - @open_ports.each do |open_port|
    %tr
      %td= open_port.port
      %td= open_port.protocol
      %td
        = link_to 'Edit', edit_router_open_port_path(open_port)
        = link_to 'Destroy', router_open_port_path(open_port), data:{:confirm => 'Are you sure?'}, :method => :delete

%br

= link_to 'New Open port', new_router_open_port_path
