<h1>Editing fw_rule</h1>

<%= form_for(@fw_rule) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} -%>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @fw_rule %> |
<%= link_to 'Back', fw_rules_path %>
