  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :int_inf %><br />
    <%= f.select :int_inf, @interfaces, {}, :onchange => remote_function(
          :url => get_ip_local_network_path('int_ip'),
          :method => :post,
          :with => "'int='+$('local_network_int_inf').value"
       ) %>
  </p>
  <p>
    <%= f.label :int_ip %><br />
    <%= f.text_field :int_ip %>
  </p>
  <p>
    <%= f.label :ext_inf %><br />
    <%= f.select :ext_inf, @interfaces, {}, :onchange => remote_function(
          :url => get_ip_local_network_path('ext_ip'),
          :method => :post,
          :with => "'int='+$('local_network_ext_inf').value"
       ) %>
  </p>
  <p>
    <%= f.label :ext_ip %><br />
    <%= f.text_field :ext_ip %>
  </p>
