<% content_for :col1 do %>
  <%= render :partial => 'menus/firewall' -%>
<% end %>

<% content_for :col2 do %>
<h1>Listing forwarded ports</h1>

<table>
  <tr>
    <th>Order</th>
    <th>Target</th>
    <th>Src/Dest<br />ip</th>
    <th>In/Out int</th>
    <th>Protocol</th>
    <th>Mod<br />Protocol</th>
    <th>Src/Dest<br />port</th>
    <th>Mod</th>
    <th>Action</th>
  </tr>


<% @fw_rules.each do |fw_rule| %>
    <% klass = cycle('',"gray") -%>
    <tr class="<%= klass -%>">
      <td><%=h fw_rule.order %></td>
      <td><%=h fw_rule.target %></td>
      <td>
	si: <%=h fw_rule.src_ip %><br />
	di: <%=h fw_rule.dest_ip %>
      </td>
      <td>
	i: <%=h fw_rule.in_int %><br />
	o: <%=h fw_rule.out_int %>
      </td>
      <td><%=h fw_rule.protocol %></td>
      <td><%=h fw_rule.mod_protocol %></td>
      <td>
	sp: <%=h fw_rule.src_port %><br />
	dp: <%=h fw_rule.dest_port %>
      </td>
      <td><%=h fw_rule.mod %></td>
      <td>
	<%#= link_to 'Show', fw_rule %>
	<%= link_to 'Edit', edit_fw_rule_path(0) %>
	<%#= link_to 'Destroy', fw_rule_path(fw_rule), :confirm => 'Are you sure?', :method => :delete %>
      </td>
    </tr>
    <tr class="<%= klass -%>">
      <td>&nbsp;</td>
      <td colspan="8">
	<%=h fw_rule.aft_option %> <%=h fw_rule.aft_argument %> 
	<%=h fw_rule.mod_option %> <%=h fw_rule.tcp_flags %> 
	<%=h fw_rule.tcp_flags_option %> 
      </td>
    </tr>
<% end %>
</table>

<br />

<% end %>
