%h1 Listing router flows

%table
  %tr
    %th Port
    %th Tc classid
    %th Port type
    %th= _('Action')

  - @router_flows.each do |router_flow|
    %tr
      %td= router_flow.port
      %td= router_flow.tc_classid.try(:full_name)
      %td= display_port_type(router_flow.port_type)
      %td
        = link_to 'Edit', edit_router_flow_path(router_flow)
        = link_to 'Destroy', router_flow_path(router_flow), data:{:confirm => 'Are you sure?'}, :method => :delete

%br

= link_to 'New IN Flow', new_router_flow_path(:t => 'int')
|
= link_to 'New OUT Flow', new_router_flow_path(:t => 'ext')
