<h1>Editing job</h1>

<%= form_for(:web_job, :url => dwnl_web_job_path(@web_job), :html => {:method => :put}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', dwnl_web_job_path(@web_job) %> |
<%= link_to 'Back', dwnl_web_jobs_path %>
