<% content_for :col2 do %>
<h1>Listing jobs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>Body</th>
    <th>Started at</th>
    <th>Ended at</th>
    <th>Action</th>
  </tr>

<% for web_job in @web_jobs %>
  <tr>
    <td><%=h web_job.name %></td>
    <td><%=h web_job.state %></td>
    <td><%=h truncate(web_job.body, :length => 150) %></td>
    <td><%=h web_job.started_at %></td>
    <td><%=h web_job.ended_at %></td>
    <td>
      <%= link_to 'Show', dwnl_web_job_path(web_job) %>
      <%= link_to 'Edit', edit_dwnl_web_job_path(web_job) if web_job.pending? %>
      <%= link_to 'Destroy', dwnl_web_job_path(web_job), :confirm => 'Are you sure?', :method => :delete %>
      <%= link_to 'Add to queue', start_dwnl_web_job_path(web_job) %>
    </td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New web_job', new_dwnl_web_job_path %>
<% end %>
