-if @tc_classid.errors.any?
  #error_explanation
    %h2= "#{pluralize(@tc_classid.errors.count, "error")} prohibited this tc_classid from being saved:"
    %ul
      - @tc_classid.errors.full_messages.each do |msg|
        %li= msg

.field
  = f.label :prio, _('Priority/Network')
  = f.select :prio, priorities
.field
  = f.label :net_type, _('Download/Upload')
  = f.select :net_type, net_types
.field
  = f.label :rate, _('Rate (min speed)')
  = f.text_field :rate
  kbit
.field
  = f.label :ceil, _('Ceil (max speed)')
  = f.text_field :ceil
  kbit

.actions
  = f.submit 'Save'
