%h1.page-header Listing tc classids

%table.std
  %thead
    %tr
      %th= _('Prio')
      %th= _('Dw/Up') 
      %th= _('Rate/Ceil')
      %th= _('Action')
  %tbody
    - @tc_classids.each do |tc_classid|
      %tr
        %td= display_priority(tc_classid.prio)
        %td= display_net_type(tc_classid.net_type)
        %td
          = tc_classid.rate
          \/
          = tc_classid.ceil
        %td
          = link_to 'Edit', edit_router_tc_classid_path(tc_classid)
          = link_to 'Destroy', router_tc_classid_path(tc_classid), data:{:confirm => 'Are you sure?'}, :method => :delete

= form_for :tc_classid, :url => router_tc_classids_path,:html => {:method => :post} do |f|
  = render 'form', :f => f

%br

= link_to 'New tc classid', new_router_tc_classid_path
