%h1 Listing router_rule_open_ports

%table
  %tr
    %th Port
    %th Protocol
    %th
    %th
    %th

  - @router_rule_open_ports.each do |router_rule_open_port|
    %tr
      %td= router_rule_open_port.port
      %td= router_rule_open_port.protocol
      %td= link_to 'Show', router_rule_open_port
      %td= link_to 'Edit', edit_router_rule_open_port_path(router_rule_open_port)
      %td= link_to 'Destroy', router_rule_open_port, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Open port', new_router_rule_open_port_path
