%p#notice= notice

%p
  %b Port:
  = @router_rule_open_port.port
%p
  %b Protocol:
  = @router_rule_open_port.protocol

= link_to 'Edit', edit_router_rule_open_port_path(@router_rule_open_port)
\|
= link_to 'Back', router_rule_open_ports_path
