= f.input :domain_name, label: _('Domain name') do
  .form-control-static
    = @dhcp.domain_name
= f.input :domain_name_server1, label: _('First DNS server')
= f.input :domain_name_server2, label: _('Second DNS server')
= f.input :subnet
= f.input :subnet_mask
= f.input :broadcast_address
= f.input :gateway
= f.input :range_from
= f.input :range_to
= f.input :default_lease_time
= f.input :max_lease_time
= f.actions do |f|
  = f.submit _('Update')
  = f.action _('Reset'), router_dhcp_path(0), :method => :delete, data:{:confirm => 'Are you sure?'}
