%h1.page-header Computers

%table.std
  %thead
    %tr
      %th Nr
      %th Name
      %th Mac address
      %th IP address
      %th Status
      %th Access
      %th Action
  %tbody
    - @computers.each_with_index do |computer,i|
      %tr
        %td= i+1
        %td= h computer.name
        %td= h computer.mac_address
        %td= h computer.ip_address
        %td= @online_ips.include?(computer.ip_address) ? content_tag(:span, 'ONLINE', :style => "color:green;font-weight:bold") : 'OFFLINE'
        %td= @blocked_ips.include?(computer.ip_address) ? content_tag(:span, 'BLOCKED', :style => "color:red;font-weight:bold") : 'PASSED'
        %td
          - unless computer.router?
            = link_to 'Edit', edit_router_computer_path(computer) if current_user.has_permission?("computer_update")
            = link_to 'Destroy', router_computer_path(computer), data:{:confirm => 'Are you sure?'}, :method => :delete if current_user.has_permission?("computer_delete")
            |
            \#{link_to 'Block', block_router_computer_path(computer), data:{:confirm => 'Are you sure?'}, :method => :post}
            \#{link_to 'Pass', pass_router_computer_path(computer), data:{:confirm => 'Are you sure?'}, :method => :post}
    %tr
      %td{:colspan => "7", :style => "text-align:center;"}
        %strong New computers
    %tr
      %th &nbsp;
      %th Name
      %th Mac address
      %th IP address
      %th &nbsp;
      %th &nbsp;
      %th Action
    - for computer in @online_computers
      %tr
        %td &nbsp;
        %td= computer.name
        %td= computer.mac_address
        %td= computer.ip_address
        %td &nbsp;
        %td &nbsp;
        %td
          = form_tag new_router_computer_path, :method => :get do
            = hidden_field_tag "router_computer[name]", computer.name, :id => "name_#{computer.mac_address}"
            = hidden_field_tag "router_computer[mac_address]", computer.mac_address, :id => "mac_#{computer.mac_address}"
            = hidden_field_tag "router_computer[ip_address]", computer.ip_address, :id => "ip_#{computer.mac_address}"
            = submit_tag _('add')

= link_to 'New computer', new_router_computer_path
