%p
  %b Name:
  = @computer.name

%p
  %b Mac address:
  = @computer.mac_address

%p
  %b IP address:
  = @computer.ip_address

= link_to('Edit', edit_router_computer_path(@computer)) + " | " if current_user.has_permission?("computer_update")
= link_to 'Back', router_computers_path
